@media (width>=800px) {
  .about-container {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 2fr;
  }
  .about-left h2,
  .about-left p,
  .about-left li {
    text-align: left;
  }
  .about-left ol {
    padding: 0 20px;
    margin: 0;
  }
  .about-left h2 {
    margin: 0 0 50px 0;
    font-size: 3rem;
  }
  .about-left p,
  .about-left li {
    font-size: 1.3rem;
    background: white;
  }
  .about-left li {
    padding: 10px;
    width: 70%;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 5px;
  }
  .about-left ol li:hover {
    cursor: pointer;
    filter: brightness(0.95);
    scale: 0.95;
    user-select: none;
  }
  .about-left ol {
    list-style: none;
    margin-bottom: 50px;
  }
  .about-left {
    max-width: 500px;
    min-width: 150px;
  }

  .cards-wrapper {
    display: none;
  }

  .cards-wrapper > * {
    margin: 30px 20px;
  }
  .about-images {
    display: block;
    position: relative;
    height: 600px; 
  }
  .about-images > div {
    overflow: hidden;
    position: absolute; 
    border-radius: 15px;
    box-shadow: var(--boxshadow-regular);
  }

  .about-images [class^="box"] svg {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .about-images .box1 {
    height: 60%;
    width: 40%;
    top: 15%;
    left: 0;
  }
  .about-images .box2 {
    height: 45%;
    width: 40%;
    top: 50%;
    left: 42%;
  }
  .about-images .box3 {
    height: 40%;
    width: 30%;
    top: 45%;
    left: 85%;
  }
  .about-images .box4 {
    height: 40%;
    width: 54%;
    top: 0;
    left: 43%;
  }
}

@media (width <= 800px) {
  .about-left h2 {
    text-align: center;
    margin: 50px;
  }

  .about-images {
    display: none;
  }
  .about-left ol,
  .about-left span {
    display: none;
  }
}
@media (width <= 1150px){

}
