@media (width>=800px) {
  .about-container {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
  .about-left h2,
  .about-left p,
  .about-left li {
    text-align: left;
  }
  .about-left {
    min-width: 350px;
    max-width: 500px;
  }
  .about-left ol {
    padding: 0 20px;
    margin: 0;
  }
  .about-left h2 {
    margin: 0 0 50px 0;
    font-size: 3rem;
  }
  .about-left p,
  .about-left li {
    font-size: 1.3rem;
    background: white;
  }
  .about-left li {
    padding: 10px;
    width: 70%;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
  }
  .about-left ol li:hover {
    cursor: pointer;
    filter: brightness(0.95);
    scale: 0.95;
    user-select: none;
  }
  .about-left ol {
    list-style: none;
    margin-bottom: 50px;
  }
  .cards-wrapper {
    display: none;
  }

  .cards-wrapper > * {
    margin: 30px 20px;
  }
  .about-images {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-images > div {
    height: 450px;
    width: 450px;
  }

  @media (width < 800px) {
    .about-left h2 {
      text-align: center;
      /* margin: 50px; */
    }
    .cards-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .about-images {
      display: none;
    }
    .about-left ol,
    .about-left span {
      display: none;
    }
  }
}
