p{
  text-align: center;
}
.bullet-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  gap: 50px;
  width: 100%;
  margin: 34px 0;
  padding: 24px;
}

.bullet-container {
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 7px 10px 1px lightgrey;
  background: white;
}

.bullet {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 25px;
}

.bullet-image {
  border: solid 1px lightgrey;
  overflow: hidden;
  position: absolute;
  background-color: white;
  border-radius: 100%;
  top: 0;
  width: 100px;
  height: 100px;
  transform: translate(0, -50%);
}

.bullet-image img {
  width: 100%;
  scale: 0.6;
  height: 100%;
  object-fit: contain;
}

.bullet-title {
  margin: 20px;
  font-family: var(--text-font);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.bullet-description {
  margin: 0;
  max-width: 450px; &
  text-align: left;
}

.bullet-list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  margin-top: 50px;
  padding: 15px;
}

.bullet-list li { 
  text-align: center;
  height: fit-content;
  background: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px lightgray;
}
.bullet-list li:hover {
  filter: brightness(0.8);
}

.bullet-detail {
  max-width: 500px;
  min-width: 270px; 
  height: 150px;
}

@media (width < 800px) {
  .bullet-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .bullet-detail{
    /* margin-bottom: 100px; */
  }
  .bullet-title {
    font-size: 2rem;
  }
  .bullet-description {
    text-align: center;
  }
  .bullet-list {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
