.card {
  padding: 20px;
  width: 100%;
  background: white;
}

@media (width < 800px){
  .card{
    max-width: 450px;
    margin-bottom: 20px;
    margin-top: 5px;
  }
}

.card-title {
  text-align: center;
  margin-bottom: 20px;
  padding: 0;
}
.card-description {
    margin: 0;
}
