.home-container > * {
  /* border: solid; */
}
/* COMMON */
footer {
  margin-bottom: 50px;
}

h2,
h3 {
  font-family: var(--title-font);
  font-weight: 500;
}

h1 {
  font-family: var(--title-font);
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

p,
span,
li {
  font-family: var(--text-font);
  text-align: justify;
  text-justify: inter-word;
}

.hero {
  background: rgb(255, 215, 85);
  background: linear-gradient(
    90deg,
    rgb(255, 102, 0),
    rgb(255, 196, 0),
    rgb(255, 145, 0)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.avatar {
  width: fit-content;
  display: flex;
  cursor: pointer;
}

.avatar p {
  margin-left: 20px;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.bullet-wrapper {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.showcase-btn {
  display: none;
}

.about-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.showcase-btn {
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 150px 0;
}

.showcase-btn h2 {
  margin: 10px 0;
  font-size: xx-large;
}

.showcase-btn button {
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  background: var(--accent-color);
}

.hero-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
  background-color: white;
  height: 500px;
}

.hero-left {
  padding-left: 50px;
  min-width: 250px;
  max-width: 500px; 
}

/* DESKTOP */
@media (width >= 800px) {
  .avatar-wrapper {
    margin-top: 80px;
  }
  .home-btn {
    position: fixed;
    top: 0;
    left: 3%;
    cursor: pointer;
    opacity: 0.4;
  }

  nav {
    display: block;
  }

  .home-btn:hover {
    opacity: 1;
  }

  .container {
    justify-content: space-between;
    align-items: center;
  }

  header {
    height: fit-content;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .hero-left {
    margin-left: 70px;
    min-width: 250px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hero-right {
    background-color: white;
  }
  .about-wrapper {
    padding: 0;
  }

  @media (width >= 1300px) {
    .about-wrapper {
      padding: 0 200px;
    }
  }
}

/* MOBILE */
@media (width <= 800px) {

  .home-btn{
    color: white;
  }

  .hero-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: rgba(255,255,255, 0.6);
    padding: 0 20px;
  }
  .hero-message p {
    font-family: var(--title-font);
    font-size: large;
    font-weight: 500;
    max-width: 400px;
  }
  .hero {
    background: none;
    gap: 50px;
    border-radius: 25px;
    margin: 20px;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100vw;
    height: 300px;
    background: rgb(255, 215, 85);
    background: linear-gradient(
      90deg,
      rgb(255, 97, 56),
      rgb(255, 196, 0),
      rgb(255, 158, 0)
    );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin-bottom: 20px;
    clip-path: polygon(0% 0%,100% 0%,100% 70%,0% 40%);  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .hero-right {
    background-color: white;
    height: 400px;
    clip-path: none;
  }

  .hero-right .carousel-container {
    border-radius: 25px;
    border: solid 1px lightgray;
  }
  .hero-left {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 100%;
    min-width: 250px;
  }

  .hero h1 {
    text-align: center;
    margin-top: 2rem;
  }

  .hero p {
    text-align: justify;
    margin-bottom: 2rem;
  }

  .hero .avatar-wrapper {
    width: 100%;
    max-width: 600px;
    height: 125px;
    display: flex;
    justify-content: center;
  }
  .showcase-btn {
    display: none;
  }
}
