nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
  height: 50px;
  background: white;
}
nav h3 {
  margin: 0;
  padding: 0;
}
.mobile-menu {
  display: none;
}

.burger-menu {
  cursor: pointer;
  display: flex;
  margin: 0;
  justify-content: space-around;
  list-style: none;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.menu-wrapper { 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (width<800px) {
  nav {
    top: unset;
    bottom: 0;
  }

  .burger-menu {
    display: none;
  }

  .mobile-menu a {
    font-family: var(--text-font);
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  .mobile-menu {
    gap: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
  } 

  .menu-wrapper:hover {  
    filter: brightness(0.9);
  }
  .menu-wrapper {  
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
} 

.menu-overlay a {
  padding: 10px;
  text-decoration: none;
}
