@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color-primary);
}
h1,
h2,
h3 {
  font-family: var(--title-font);
}
p,
li,
span {
  font-family: var(--text-font);
  font-weight: 400;
  /* color: var(--text-color-primary); */
}
i {
  font-family: var(--info-font);
}
*,
* > * {
  box-sizing: border-box;
}
.app {
  width: 100vw;
  --text-color-primary:#333;
  --text-color-secondary:#666;
  --info-font: "Montserrat", sans-serif;
  --text-font: "Open Sans", sans-serif;
  --title-font: "Roboto", sans-serif;
  --accent-color: rgb(255, 187, 0);
  --accent-color-hex: #ffbb00;
  --background: #eee;
  --component-background: #f1f1f1;
  --boxshadow-accent: 0 7px 10px 1px rgba(255, 187, 0, 0.2);
  --boxshadow-regular: 0 7px 10px 1px rgba(207, 207, 207, 0.4);
  --border-radius-s: 5px;
}
